{% extends 'base.html' %}

{% block content %}
<div class="col-xs-12 col-sm-9">
<div id="map" style="width: 1900px;"></div>

<div id="map-side-bar">
    {% for place in wc_list %}
    <div class="map-location" data-jmapping="{id: 1, point: {lng: {{place.lng}}, lat: {{place.lat}}}, category: '{{place.accessible}}'}">
    <div class="info-box">
      <p class="access text-center"><strong>{{place.accessible}}</strong></p>
      <img class="sv text-center" src="http://maps.googleapis.com/maps/api/streetview?size=200x200&location={{place.lat}},{{place.lng}}&fov=90&heading=235&pitch=10" />
      <p class="place-name text-center">{{place.name}}</p>
    </div>
  </div>
  {% endfor %}
</div>
</div>
{% endblock content %}

{% block js %}
<script>
$(document).ready(function(){
          $('#map').jMapping({
            category_icon_options: function(category){
            if (category.charAt(0).match(/[a-d]/i)){
              return new google.maps.MarkerImage('https://trello-attachments.s3.amazonaws.com/525891a2c373fd773e0033d7/53a43522453e61f2deb33e37/50x50/cb01031a20c071a14c1b0db8ed68b60a/icon_toilet_enabled.png');
            } else if (category.charAt(0).match(/[e-z]/i)){
              return new google.maps.MarkerImage('https://trello-attachments.s3.amazonaws.com/525891a2c373fd773e0033d7/53a43522453e61f2deb33e37/50x50/18542404296e7823d45d044167c9291f/icon_toilet_disabled.png');
            } else {
              return {color: '#7CDF65'};
          }
      }
    });
    });
</script>
{% endblock js %}