<!DOCTYPE html>

  <html lang="en">
    <head>
      <script type="text/javascript" src="http://maps.google.com/maps/api/js?v=3.5&sensor=false"></script>
    
      <!-- START META INFORMATIONS -->
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta charset="utf-8">
      <meta name="keywords" content="EnabledCity is a new city...">
      <meta name="description" content="some text">
      
      <title>Enabled City</title>
      <link rel="shortcut icon" href="">
      
      <!-- ACTIVATE RESPONSIVE DESIGN -->
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <!-- CORE CSS FILES -->
      <link href="https://trello-attachments.s3.amazonaws.com/525891a2c373fd773e0033d7/53a43522453e61f2deb33e37/fe32ff41d201df7973145c77925c188b/bootstrap.min.css" rel="stylesheet">
      
      <!-- CUSTOM CSS FILES -->
      <link href="https://trello-attachments.s3.amazonaws.com/525891a2c373fd773e0033d7/53a43522453e61f2deb33e37/48889de2b007237ddd3247d8d06570d0/style.css" type="text/css" rel="stylesheet">
      
      <!--[if lt IE 9]>
          <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>

<body>
    
      <!-- START CONTAINER -->
      <div class="page-container">
      
        <!-- START DESKTOP NAVIGATION -->
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".sidebar-nav">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}">
              <img class="logo" src="https://trello-attachments.s3.amazonaws.com/525891a2c373fd773e0033d7/53a43522453e61f2deb33e37/172x50/4ee844accb7d3cb44e397ad9c109f22d/logo.png">
            </a>
            <a class="navbar-brand text-mobile" href="{% url 'home' %}">
             <img class = "left" src="https://trello-attachments.s3.amazonaws.com/525891a2c373fd773e0033d7/53a43522453e61f2deb33e37/32x32/98c40ce605fc0bf72b961e7b88007af1/left.png"><span class="places"> All places</span>
            </a>
          </div>
          
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav text-center" style="margin-top: 0px; padding-top: 0px;">
              <li class="desktop-icon">
                <a href="{% url 'culture' %}">
                  <img src="https://trello-attachments.s3.amazonaws.com/525891a2c373fd773e0033d7/53a0b0f24088d22527c070b5/35x35/1afa831f23de80f62eeb795001283a01/culture.png"><br />
                  <span class="menu-text">Culture</span>
                </a>
              </li>
              <li class="desktop-icon">
                <a href="{% url 'food' %}">
                  <img src="https://trello-attachments.s3.amazonaws.com/525891a2c373fd773e0033d7/53a0b0f24088d22527c070b5/35x35/d256e0b5ac13ee7a5718d11c6bc6ce4d/food.png"><br />
                  <span class="menu-text">Food</span>
                </a>
              </li>
              <li class="desktop-icon">
                <a href="{% url 'hospital' %}">
                  <img src="https://trello-attachments.s3.amazonaws.com/525891a2c373fd773e0033d7/53a0b0f24088d22527c070b5/35x35/b25a4738957d1c5bea3204e6c2e7cd97/hospital.png"><br />
                  <span class="menu-text">Hospital</span>
                </a>
              </li>
              <li class="desktop-icon">
                <a href="{% url 'parking' %}">
                  <img src="https://trello-attachments.s3.amazonaws.com/525891a2c373fd773e0033d7/53a0b0f24088d22527c070b5/35x35/2d3a72c8ae3b07900462209f3582cd95/parking.png"><br />
                  <span class="menu-text">Parking</span>
                </a>
              </li>
              <li class="desktop-icon">
                <a href="{% url 'public' %}">
                  <img src="https://trello-attachments.s3.amazonaws.com/525891a2c373fd773e0033d7/53a0b0f24088d22527c070b5/35x35/d53221e0cca72f9241d897ccd6b6b7f4/public.png"><br />
                  <span class="menu-text">Public</span>
                </a>
              </li>
              <li class="desktop-icon">
                <a href="{% url 'sport' %}">
                  <img src="https://trello-attachments.s3.amazonaws.com/525891a2c373fd773e0033d7/53a0b0f24088d22527c070b5/35x35/6274743cb2d55ee0004a6a3a9229abe7/sport.png"><br />
                  <span class="menu-text">Sport</span>
                </a>
              </li>
              <li class="desktop-icon">
                <a href="{% url 'travel' %}">
                  <img src="https://trello-attachments.s3.amazonaws.com/525891a2c373fd773e0033d7/53a0b0f24088d22527c070b5/37x37/33c5bf8eee7ed0b820e760cd67c678e3/travel.png"><br />
                  <span class="menu-text">Travel</span>
                </a>
              </li>
              <li class="desktop-icon">
                <a href="{% url 'wc' %}">
                  <img src="https://trello-attachments.s3.amazonaws.com/525891a2c373fd773e0033d7/53a0b0f24088d22527c070b5/37x37/24faa2e255bee96fdc719cd8437bc112/wc.png"><br />
                  <span class="menu-text">WC</span>
                </a>
              </li>
            </ul>
          </div>
       </div>
       <!-- END DESKTOP NAVIGATION -->
       
       <!-- START MOBILE NAVIGATION -->
       <div class="row row-offcanvas row-offcanvas-left">
          <div class="col-xs-6 col-sm-6 sidebar-offcanvas" id="sidebar" role="navigation">
            <ul class="nav">
              <li class="active mobile-icon culture1 text-center">
                <a href="{% url 'culture' %}">
                  <img src="https://trello-attachments.s3.amazonaws.com/525891a2c373fd773e0033d7/53a0b0f24088d22527c070b5/35x35/1afa831f23de80f62eeb795001283a01/culture.png"><br />
                  Culture
                </a>
              </li>
              <li class="mobile-icon food1 text-center">
                <a href="{% url 'food' %}">
                  <img src="https://trello-attachments.s3.amazonaws.com/525891a2c373fd773e0033d7/53a0b0f24088d22527c070b5/35x35/d256e0b5ac13ee7a5718d11c6bc6ce4d/food.png"><br />
                  Food
                </a>
              </li>
              <li class="mobile-icon hospital1 text-center">
                <a href="{% url 'hospital' %}">
                  <img src="https://trello-attachments.s3.amazonaws.com/525891a2c373fd773e0033d7/53a0b0f24088d22527c070b5/35x35/b25a4738957d1c5bea3204e6c2e7cd97/hospital.png"><br />
                  Hospital
                </a>
              </li>
              <li class="mobile-icon parking1 text-center">
                <a href="{% url 'parking' %}"> 
                  <img src="https://trello-attachments.s3.amazonaws.com/525891a2c373fd773e0033d7/53a0b0f24088d22527c070b5/35x35/2d3a72c8ae3b07900462209f3582cd95/parking.png"><br />
                  Parking
                </a>
              </li>
              <li class="mobile-icon public1 text-center">
                <a href="{% url 'public' %}">
                  <img src="https://trello-attachments.s3.amazonaws.com/525891a2c373fd773e0033d7/53a0b0f24088d22527c070b5/35x35/d53221e0cca72f9241d897ccd6b6b7f4/public.png"><br />
                  Public
                </a>
              </li>
              <li class="mobile-icon sport1 text-center">
                <a href="{% url 'sport' %}">
                  <img src="https://trello-attachments.s3.amazonaws.com/525891a2c373fd773e0033d7/53a0b0f24088d22527c070b5/35x35/6274743cb2d55ee0004a6a3a9229abe7/sport.png"><br />
                  Sport
                </a>
              </li>
              <li class="mobile-icon travel1 text-center">
                <a href="{% url 'travel' %}">
                  <img src="https://trello-attachments.s3.amazonaws.com/525891a2c373fd773e0033d7/53a0b0f24088d22527c070b5/37x37/33c5bf8eee7ed0b820e760cd67c678e3/travel.png"><br />
                  Travel
                </a>
              </li>
              <li class="mobile-icon wc1 text-center">
                <a href="{% url 'wc' %}">
                  <img src="https://trello-attachments.s3.amazonaws.com/525891a2c373fd773e0033d7/53a0b0f24088d22527c070b5/37x37/24faa2e255bee96fdc719cd8437bc112/wc.png"><br />
                         <span class="text-center" style="margin-left: 12px;"> WC</span>
                </a>
              </li>              
            </ul>
        </div>
        <!-- END MOBILE NAVIGATION -->

        {% block content %}
        
{% endblock content %}



<script src="https://trello-attachments.s3.amazonaws.com/525891a2c373fd773e0033d7/53a0b0f24088d22527c070b5/2358185e4897b5f57bba3c27af428294/quant.js" async type="text/javascript"></script>
      <script type="text/javascript" src="https://trello-attachments.s3.amazonaws.com/525891a2c373fd773e0033d7/53a0b0f24088d22527c070b5/d300fce83f195865b7734a597181143e/jquery.min.js"></script>
      <script type="text/javascript" src="https://trello-attachments.s3.amazonaws.com/525891a2c373fd773e0033d7/53a0b0f24088d22527c070b5/4baa77dfeef33f2939a15de7a7ea1ff6/bootstrap.min.js"></script>

<script type="text/javascript" src="http://maps.google.com/maps/api/js?v=3.5&sensor=false"></script>
<script type="text/javascript" src="https://trello-attachments.s3.amazonaws.com/52b0a34efe66a6b108015e14/538a35c234498f4396507b44/249c8e12a1045b02b06bd6937ddaec74/markermanager.js"></script>
<script type="text/javascript" src="https://trello-attachments.s3.amazonaws.com/52b0a34efe66a6b108015e14/538a35c234498f4396507b44/222d926c4320e6dcdad6544464672be4/StyledMarker.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script type="text/javascript" src="https://trello-attachments.s3.amazonaws.com/52b0a34efe66a6b108015e14/538a35c234498f4396507b44/f5d4f7e87856d3b371b2acfffcd528c0/jquery.metadata.js"></script>
<script type="text/javascript" src="https://trello-attachments.s3.amazonaws.com/52b0a34efe66a6b108015e14/538a35c234498f4396507b44/2a470081db470d3df8261f64bdc3f42e/jquery.jmapping.min.js"></script>

{% block js %}

{% endblock js %}

<script type="text/javascript">
        $(document).ready(function() {
          $('[data-toggle=offcanvas]').click(function() {
            $('.row-offcanvas').toggleClass('active');
          });
        });
      </script>
      
      <script type="text/javascript">
        var _qevents = _qevents || [];
        
        (function() {
        var elem = document.createElement('script');
        elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
        elem.async = true;
        elem.type = "text/javascript";
        var scpt = document.getElementsByTagName('script')[0];
        scpt.parentNode.insertBefore(elem, scpt);
        })();
        
        _qevents.push({
        qacct:"p-0cXb7ATGU9nz5"
        });
        </script>
</body>
</html>
